<div style="width: 500px; margin: auto;">
    <div *ngIf="currentTarea" class="edit-form">
      <h4>Tarea</h4>
      <form>
        <div class="form-group">
          <label for="title">Descripcion</label>
          <input
            type="text"
            class="form-control"
            id="descripcion"
            [(ngModel)]="currentTarea.descripcion"
            name="descripcion"
          />
        </div>
        <div class="form-group">
          <label for="description">Duracion</label>
          <input
            type="text"
            class="form-control"
            id="duracion"
            [(ngModel)]="currentTarea.duracion"
            name="duracion"
          />
        </div>
  
        <div class="form-group">
          <label><strong>Estado:</strong>{{currentTarea.estatus}}</label>
        </div>

        <div class="form-group">
            <label><strong>Tiempo registrado:</strong>{{currentTarea.tiempo_registrado}}</label>
          </div>
      </form>
  
      <button
        class="badge badge-primary mr-2"
        *ngIf="currentTarea.estatus==false"
        (click)="setCompletarTarea()"
      >
        Completar
      </button>
  
      <button class="badge badge-danger mr-2" (click)="deleteTarea()">
        Borrar
      </button>
  
      <button
        type="submit"
        class="badge badge-success"
        (click)="updateTarea()"
      >
        Actualizar
      </button>
      <p></p>
    </div>
  
    <div *ngIf="!currentTarea">
      <br />
      <p>This product is not accessible</p>
    </div>
  </div>
  